@model IEnumerable<TPT.Models.Service>

@{
    ViewBag.Title = "InstructorCourse";
    int employeeID = (int)ViewBag.EmployeeID;
}

<h2>Employee Service</h2>

<h2>Index</h2>

<p>
    @Html.ActionLink("Add", "Add", new { id = 1, employeeID = employeeID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteService", new { id = item.Name, employeeID = employeeID })
            </td>
        </tr>
    }

</table>